:root {
  --primary-color: rgb(18, 18, 18);
  --secondary-color: rgb(33, 33, 33);
  --tertiary-color: rgb(83, 83, 83);
  --quaternary-color: rgb(179, 179, 179);
  --font-color-white: rgb(256, 256, 256);
  --green: rgb(29, 185, 84);
  --container-radius: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
}

html {
  font-size: 16px;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

.flex-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--primary-color);
  font-family: 'Kanit';
  color: var(--font-color-white);
  padding: 0.25rem;
  display: grid;
  grid-template-columns: 99.5%;
  grid-template-rows: 10% 89.5%;
  grid-template-areas:
    'header'
    'main';
  gap: 0.5%;
}

.header {
  grid-area: header;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 'title-menu-container';
  background-color: var(--primary-color);
  position: relative;
}

.title-menu-container {
  grid-area: title-menu-container;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80% 20%;
  background-color: var(--secondary-color);
}

#title-container {
  justify-content: left;
}

h1 {
  margin-left: 20px;
}

#menu-button {
  height: 100%;
  width: 100%;
  border: none;
  color: var(--font-color-white);
  background-color: transparent;
  cursor: pointer;
}

/* 
  this is the sidebar pop-up  
  initially set to display none
  and only will appear when the 
  menu button is clicked
*/
.home-library-container {
  grid-area: home-library-container;
  display: none;
  height: 88vh;
  width: 70%;
  background-color: var(--primary-color);
  position: absolute;
  right: 0px;
  top: 100%;
}

.toggle-display {
  display: block;
}

.sidebar-containers {
  height: auto;
  width: 100%;
  gap: 0.5rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  color: var(--tertiary-color);
  margin-bottom: 0.5rem;
}

.home-search-button-container {
  /* background-color: red; */
}

#home-button,
#search-button {
  background-color: var(--secondary-color);
  padding: 0.25rem;
  width: 100%;
  height: 20%;
  border-radius: 3px;
}

#home-button button,
#search-button button {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  color: var(--font-color-white);
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-icon,
.search-icon {
  width: 20%;
  fill: white;
}

.library-container * {
  background-color: var(--secondary-color);
  padding: 0.25rem;
  border-radius: 3px;
  color: var(--font-color-white);
}

.library-container h2 {
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  overflow-x: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 10% auto;
  grid-template-areas:
    'main-header'
    'main-mid';
  gap: 0.25rem;
}

.main-header {
  grid-area: main-header;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
}

.log-sign-container {
  position: relative;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: 0.5rem;
}

.log-sign-container button {
  width: 100px;
  height: 100%;
  border: none;
  border-radius: 6px;
  /* color: var(--primary-color); */
  /* background-color: var(--font-color-white); */
}

/* button */
.log-in {
  background-color: var(--font-color-white);
}

/* button */
.sign-up {
  background-color: var(--primary-color);
  color: var(--font-color-white);
}

.sign-up-dialog-box {
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  /* display: none; */
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 6px;
  gap: 0.5rem;
}

.sign-up-dialog-box div {
  display: flex;
  flex-direction: column;
  color: var(--font-color-white);
  background-color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
}

.sign-up-dialog-box input {
  border-radius: 3px;
  border: none;
  padding: 0.2rem;
  font-size: 1rem;
}

.main-mid {
  grid-area: main-mid;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--font-color-white);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
}

/* these containers holds the list
of contents: artist-song-album */
.content-list-container {
  padding: 1rem;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  overflow-x: scroll;
}

.list img {
  width: clamp(135px, 11.5vw, 300px);
  height: clamp(135px, 11.5vw, 300px);
}

.artist-list img {
  border-radius: 50%;
  object-fit: cover;
}

/* for 425px screen wide screen and up */
@media (min-width: 425px) {
  .home-library-container {
    width: 250px;
  }
}

/* for 1024px screen wide and up*/
@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  body {
    grid-template-columns: 25% 74.5%;
    grid-template-rows: 99.5%;
    grid-template-areas: 'header main';
  }

  .header {
    gap: 0.5%;
    grid-template-columns: 100%;
    grid-template-rows: 10% 89.5%;
    grid-template-areas:
      'title-menu-container'
      'home-library-container';

    .title-menu-container {
      width: 100%;
      grid-template-columns: 100%;

      #title-container {
        display: flex;
        justify-content: center;
        width: 100%;

        h1 {
          margin-left: 0px;
        }
      }

      #menu-button {
        display: none;
      }
    }

    .home-library-container {
      display: block;
      position: static;
      width: 100%;
      height: 100%;
    }
  }
}

/* for 1180px screen wide and up*/
@media (min-width: 1180px) {
  body {
    grid-template-columns: 20% 79.5%;
    grid-template-rows: 99.5;
  }
}
